$font-stack: "Montserrat", sans-serif;
$dark-primary-color: #0f0429;
$primary-color: #52417a;
$alt-primary-color: #9477d9;
$secondary-color: #a1ca41;
$alt-secondary-color: #5f7b23;
$dark-secondary-color: #34401a;

/* 89ad34-0f0429-52417a-34401a-9477d9 */
